html, body {
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

body {
  width: 1200px;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  padding: 5px 0 40px;
}

main {
  display: flex;
}

h1 {
  font-weight: 800;
}

img {
  width: 238px;
  height: 149px;
}

.sites {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 1000px;
}

.site {
  width: 238px;
  padding: 24px;
  border-radius: 5px;
  border: 1px solid #D1D5DB;
  background-color: #F8FAFC;
  box-shadow: 2px 2px 8px 1px #DDD;
}

.site-name {
  margin-top: 10px;
  font-weight: bold;
}

.categories {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.category {
  display: inline-block;
  margin-bottom: 20px;
}

.category:hover {
  text-decoration: underline; 
}
